<div class="banner">
  <div class="home-banner">
    <h1><span> Discover bests cocktails</span> </h1>
  </div>
</div>

<% @cocktails.each do |cocktail| %>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/featured/?cocktail');">
      <div class="card-description">
        <h2><%= cocktail.name.capitalize %></h2>
      </div>
      <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
    </div>
  </div>
<% end %>

<div>
  <%= link_to "+ Add a cocktail ðŸ¸", new_cocktail_path%>
</div>
