<div class="container"><%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, label: 'Quantity', placeholder: 'For example: 10ml', class: 'form-control' %>
  <%= f.association :ingredient,  class: 'form-control select2' %>
  <%= f.submit "add an ingredient", class: "btn btn-primary"%>
<% end %>
</div>
